.products {
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;
}

.products__heading > h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.products__heading > h2 > span {
  font-weight: 700;
}

/* TABS SECTION */

.products__tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.products__tabs > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.products__tab {
  list-style-type: none;
  transition: all ease-in-out;
  transition-duration: 100ms;
  border-bottom: 1px solid transparent;
}

.products__tabs > ul > li:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.products__tab--selected {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.products__tab > button {
  background-color: transparent;
  font-size: 0.6rem;
  border: none;
  width: 8rem;
  padding: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PRODUCTS LIST SECTION */

.products__list--container {
  width: 100%;
  margin-top: 2rem;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
}

@media (max-width: 600px) {
  .products {
    width: 100%;
  }

  .products__tabs > ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .products__tab {
    border: none;
  }

  .products__tab > button {
    width: 10rem;
    letter-spacing: 0.1rem;
    color: var(--color-neutral-800);
  }

  .products__tab--selected {
    border: none;
  }

  .products__tab--selected > button {
    font-weight: 600;
  }

  .products__tabs > ul > li:hover {
    border-bottom: none;
  }
}
