.checkout__form {
  width: 100%;
  margin-top: 5rem;
}

.checkout__form__container {
  width: 80%;
  margin: 0 auto;
}

.checkout__form__step__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
}

.checkout__form_step {
  font-size: 0.7rem;
  color: var(--color-neutral-800);
}

.checkout__form__step__divider--line {
  flex: 1 1 100%;
  height: 1px;
  background-color: var(--color-neutral-800);
}

.checkout__form__step--selected {
  color: var(--color-neutral-900);
  font-weight: 600;
}

.checkout__form--form {
  width: 100%;
}

.checkout__form__btn {
  width: 100%;
  padding: 0.7rem;
  margin-top: 2rem;
  background-color: var(--color-neutral-900);
  color: white;
  cursor: pointer;
  border: none;
}

.checkout__form__btn:hover {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-900);
}

.checkout__form__btn__container {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .checkout__form__btn__container {
    flex-direction: column;
  }
}
