.form__shipping {
  margin-top: 2rem;
}

.form__shipping__checkbox {
  margin-top: 1rem;
}

.form__shipping__checkbox--label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__shipping__checkbox--input {
  margin-right: 0.4rem;
  cursor: pointer;
}

.form__shipping__checkbox--text {
  font-size: 0.7rem;
}

/* ADDRESS FORM  */

.form__shipping__input__header {
  font-size: large;
  font-weight: 500;
}

.form__shipping__input_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.form__shipping__input__box {
  width: 100%;
  position: relative;
}

.form__shipping__input__box--input {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.7rem 0.7rem;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-700);
  color: var(--color-neutral-900);
}

.form__shipping__input__box--span {
  position: absolute;
  left: 0;
  padding: 0.7rem;
  font-size: 0.8rem;
  transition: 300ms;
  pointer-events: none;
  color: var(--color-neutral-800);
}

.form__shipping__input__box--input:focus ~ .form__shipping__input__box--span {
  transform: translateX(0.4rem) translateY(-0.4rem);
  padding: 0 0.7rem;
  font-size: 0.6rem;
  background-color: white;
  color: var(--color-neutral-900);
}

.form__shipping__input__box--input--contain__value--span {
  transform: translateX(0.4rem) translateY(-0.4rem);
  padding: 0 0.7rem;
  font-size: 0.6rem;
  background-color: white;
  color: var(--color-neutral-900);
}

/* INVALID INPUT */
.form__shipping__input__box--input-invalid {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.7rem 0.7rem;
  border-radius: 5px;
  border: 1px solid red;
}

.form__shipping__input__box--input-invalid:focus {
  outline: 1px solid red;
}

.form__shipping__input__box--span-invalid {
  position: absolute;
  left: 0;
  padding: 0.7rem;
  font-size: 0.8rem;
  transition: 300ms;
  pointer-events: none;
  color: red;
}

.form__shipping__input__box--input-invalid:focus
  ~ .form__shipping__input__box--span-invalid {
  transform: translateX(0.4rem) translateY(-0.4rem);
  padding: 0 0.7rem;
  font-size: 0.6rem;
  background-color: white;
  color: red;
}

.form__shipping__input__box--error_message {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  left: 0.5rem;
  bottom: -0.9rem;
}

.form__shipping__input__box--firstName {
  grid-column: 1/3;
}

.form__shipping__input__box--lastName {
  grid-column: 3/5;
}

.form__shipping__input__box--country {
  grid-column: 1/5;
}

.form__shipping__input__box--street1 {
  grid-column: 1/3;
}

.form__shipping__input__box--street2 {
  grid-column: 3/5;
}

.form__shipping__input__box--city {
  grid-column: 1/3;
}

.form__shipping__input__box--state {
  grid-column: 3/4;
}

.form__shipping__input__box--zipCode {
  grid-column: 4/5;
}

@media (max-width: 600px) {
  .form__shipping__input_container {
    grid-template-columns: 1fr;
  }

  .form__shipping__input__box--firstName,
  .form__shipping__input__box--lastName,
  .form__shipping__input__box--country,
  .form__shipping__input__box--street1,
  .form__shipping__input__box--street2,
  .form__shipping__input__box--city,
  .form__shipping__input__box--state,
  .form__shipping__input__box--zipCode {
    grid-column: 1/2;
  }
}
